body {
    margin: 0;
    min-height: 100vh;

    background-image: url("asset/background_image.jpeg");
    background-size: cover;  
    overflow-y:scroll ;
}
.navbar{
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    position: fixed;
    
}
.navbar h3{
    margin-left: 70px;
    margin-right: 300px;
    font-size: 1.8rem;    
    
    margin-top: 23px;
    width: 250px;
}
.navbar h4{
    margin-right: 40px;
    margin-top: 30px;
    font-size: 1.2rem;
}
.navbar button{
    margin-left: 200px;
    width: 120px;
    height: 50px;
    margin-top: 14px;
    border-radius: 15px;
    font-size: 1.2rem;
   
}
.navbar .signup{
    margin-left: 10px;
background-color: rgb(232, 111, 111);
color: beige;
border: 0px;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 450px;
    width: 100%;
    
}
.content .info  {
    height: 90%;
    width: 30%;
    margin-top: 100px;
    margin-left: 75px;
}
.content .info h1{
    margin-top: 80px;
}
.content .info p{
    margin-top: 20px;
     color: rgba(0, 0, 0, 0.7);
}
.buttons{
    margin-left: -15px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.buttons button{
    width: 30%;
    margin: 17px;
    font-size: 1.2rem;
    height: 40px;
    border-radius: 10px;
}
.info .buttons .get{
    background-color: #3F6FD1;
    border: 0px;
    color: rgb(240, 236, 231);
}
 .info .buttons .watch {
    background-color:white ;
    border: 0px;
    color: #3F6FD1;
}




.content .images {

    height: 90%;
    width: 45%;
    margin-top: 180px;
}

.images .chart{
    position: absolute;
    
    width: 18%;
    height: 50%;
    border-radius: 6px;
    z-index: -3;
}
.content .images .bargraph{
    position: absolute;
    width: 35%;
    height: 52%;
    border-radius: 6px;
    z-index: -2;
    margin-top: 60px;
    margin-left: 215px;
}
.content .images .trade{
    position: absolute;
    width: 94px;
    margin-left: 605px;
    border-radius: 8px;
    z-index: -1;
}

.function{
    margin-top: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.function div{
    width: 18%;
    height: 60px;
   background-color: rgb(233, 216, 229);
     display: flex;
     flex-direction: row;
     border-radius: 15px;
     border:  2px solid  #3F6FD1;
}
.function img{
    height: 40px;
    width: 40px;
    margin-top: 15px;
    margin-left: 10px;

  
}
.function h3{
    margin-top: 10px;
    margin-left:10px ;
}

.feature{
    height: 450px;
    
    margin: 80px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.feature .para{
    
    width: 55%;
}
.feature .para h2{
    font-size: 30px;
    margin: 25px 115px;
    
}
.feature .para ul{
    margin: 20px 115px;
    line-height: 2;
}
.feature .para h3{
margin-left: 115px;
}
.feature .para p{
    margin-left: 115px;
    margin-right: 80px;
    line-height: 1.5;
}
.feature .graph{
    width: 45%;
}
.graph .transition{
    height: 400px;
    width: 600px;
    margin-top: 20px;
}
.graph .balance{
    height: 80%;
    margin-top:20px ;
    margin-left: 25%;
}
 .about{
    height: 500px;
  margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.about .aboutpara{
    width: 50%;
    
    margin: 20px;
    margin-left: 100px;
}
.about .aboutpara h2 {
    margin: 70px;
    font-size: 30px;
    text-align: center;
}
.about .aboutpara h4{
    font-weight: 400;
    margin: 30px 50px;
    line-height: 1.8;
    opacity: 0.8;
    text-align: center;
}

.about .keypoint{
    width: 50%;
    
    margin-top: 70px;
    
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about .keypoint div{
    height: 30%;
    width: 60%;
    background-color: rgb(233, 216, 229);
    border: 2px solid #3F6FD1;
    border-radius: 20px;
    margin-left: 20%;
}
.about .keypoint div img{
    height: 50px;
    width: 50px;
    position:absolute ;
    margin-top: 25px;
    margin-left: 12px;
}
 .about .keypoint div p{
    margin-left: 80px;
    opacity: 0.8;
}
.about .keypoint div h3 {
    margin-left: 80px;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 17px;
}

.help .heading , .help h1{
    text-align: center;
}
.help .heading{
    letter-spacing: 3px;
}
.query{
    height: 70px;
   background-color: rgb(233, 216, 229);
    border: 2px solid #3F6FD1;
    margin: 10px 350px;
    letter-spacing: 1px;
    border-radius:  10px;
}
.query h2{
    margin: 5px 10px;
    margin: 10px;
    font-weight:600 ;
}
.query p{
    margin: 5px 10px;
}
.query img{
      color: blue;
      font-size: 24px;
     position: absolute;
     margin-left: 660px;
     margin-top: -60px;
     border-radius: 50%;
     height: 35px;
     width: 35px;
}
.help .contect {
       height: 120px;
   background-color: rgb(233, 216, 229);
    border: 2px solid #3F6FD1;
    margin: 10px 250px;
    letter-spacing: 1px;
    border-radius:  10px;
    
}

.contect h1{
    margin: 10px;
}
.contect .box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contect .box span{
     display: flex;
    flex-direction: row;
}
.box img{
    height: 40px;
    width: 40px;
    margin: 7px 10px;
}